<div id="<%= dom_id post %>">
  <div class='black-border'>
    <h2><%= post.title %> by <%= post.user.name %></h2>

    <div class="right-align">
    <p>
      <strong>Comments: </strong><%= post.comments_count %>
      <strong>Likes: </strong><%= post.likes_count %>
    </p>
    </div>
    <p>
      <%= post.text %>
    </p>
    </div>
    <br>
    <div class='black-border'>
    <h3>Comments</h3>
  <% post.comments.each do |comment|%>
  <p>
    <strong><%= comment.user.name %></strong>
    <%= comment.text%>
  </p>
  <% end %>
  </div>
  <br>
</div>
